body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #c9c8c8, #f9f9f9);
  color: #333;
  text-align: left;
  margin: 0;
  min-height: 100vh;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(66, 66, 66);
  margin-top: 0.2rem;
  margin-bottom: 3rem;
  
}

h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(66, 66, 66);
}


p {
   margin-bottom: 2rem;
   color: rgb(66, 66, 66);
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   line-height: 1.7;
}

.aloitusteksti {
  max-width: 600px;   
  padding: 20px;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.6;
}

.kuvajateksti {
  display: flex;
  align-items: center;
  gap: 100px;
}

.etusivu .kuvajateksti img {
  width: 500px
}

.linkkilaatikot {
  margin-top: 50px;
}


img.cv-kuva {
  display: block;      
  margin: 0 auto;      
  width: 800px;
  height: auto; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 70px;
}

/* Navigaatio */

.navbar {
  background-color: rgb(194, 193, 193);
  padding: 18px 20px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  margin-right: 120px;
}

.nav-links li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: rgb(185, 68, 68);
}

.nav-links li a.active {
  color: rgb(185, 68, 68);
  
}

/*Napit */

.button1 {
  display: inline-block;
  width: 120px;
  background-color: rgb(185, 68, 68);
  color: white;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 10px;
  
}

.button1:hover {
  background-color: rgb(133, 53, 53);
}

.button2 {
  display: inline-block;
  width: 120px;
  background-color: transparent;
  border: 1px solid rgb(161, 61, 61);;
  color: rgb(185, 68, 68);
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 10px;
  
}


.button2:hover {
  background-color: rgb(196, 194, 194);
}

.button3 {
  display: inline-block;
  width: 120px;
  background-color: transparent;
  border: 1px solid rgb(161, 61, 61);;
  color: rgb(185, 68, 68);
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;   
  left: 20px;     
  z-index: 1000;

}

.button3:hover {
  background-color: rgb(196, 194, 194);
}

/* Projektit */

.projektiosio {
  padding: 40px 0;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  background-color: rgb(194, 193, 193);
  border-top: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.kuvaosio {
  max-width: 1000px;
  margin: 30px auto; 
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 80px;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 12px;
}

.kuvakortti img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.kuvakortti img:hover {
  transform: scale(1.1);
}

.kuvakortti a {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

li {
   font-family: 'Montserrat', sans-serif;
   color: white;

}

.muut .container img {
  max-width: 800px; 
  width: 100%;      
  height: auto;
  margin-bottom: 50px;
  
}

/* Esittely */

.esittely .esittely-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 1300px;
}

.esittely .content {
  flex: 1;
  min-width: 250px;
  text-align: justify;
  margin-bottom: 50px;
  
}

.esittely .esittelykuva {
  width: 400px;
  height: auto;
  border-radius: 8px;
  border: 1px solid white;
  object-fit: cover;
}

.esittely h1 {
  max-width: 1300px;
  margin: 40px auto 10px auto;

}

.esittely .content a.button1 {
  display: block;
  width: max-content;
  margin: 5px auto 0 auto;
}

.esittely .kuva-ja-tyokalut {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; 
  margin-left: 80px; 
}

.esittely .kuva-ja-tyokalut p {
  margin: 0px 0px 10px 10px;
  font-size: 0.9rem;
}

.kuva-ja-tyokalut p strong {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}


.tool-list {
  columns: 2;
  column-gap: 10px;
  width: 400px;
  margin-left: 40px;
}

/* Yhteys */

.yhteystiedot {
  margin-top: 60px;
}


/*Footer*/

.footer {
  width: 100%;
  background-color: #e4e4e4;
  color: #eee;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9rem;
  border-top: 1px solid white;
}

