

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #c9c8c8, #f9f9f9);
  color: #333;
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}



.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  flex: 1;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  word-break: break-word;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(66, 66, 66);
  margin-top: 0.2rem;
  margin-bottom: 3rem;
  
}

h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(66, 66, 66);
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(66, 66, 66);
  margin-bottom: 10px;
}



p {
   margin-bottom: 1rem;
   color: rgb(66, 66, 66);
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   line-height: 1.7;
}

a {
  color: rgb(185, 68, 68);
}

.muut li {
  color:  rgb(66, 66, 66);
}

.aloitusteksti {
  max-width: 600px;   
  padding: 20px;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.6;
}

.kuvajateksti {
  display: flex;
  align-items: center;
  gap: 100px;
}

.etusivu .kuvajateksti img {
  width: 500px
}

.linkkilaatikot {
  margin-top: 50px;
}


img.cv-kuva {
  display: block;      
  margin: 0 auto;      
  width: 800px;
  height: auto; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.palautelaatikko {
  border-top: 1px solid white;
}

.side-image {     
  margin-right: 40px; 
}


/* Navigaatio */

.navbar {
  background-color: rgb(194, 193, 193);
  padding: 18px 20px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  margin-right: 120px;
}

.nav-links li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: rgb(185, 68, 68);
}

.nav-links li a.active {
  color: rgb(185, 68, 68);
  
}

/*Napit */

.button1 {
  display: inline-block;
  width: 120px;
  background-color: rgb(185, 68, 68);
  color: white;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 10px;
  
}

.button1:hover {
  background-color: rgb(133, 53, 53);
}

.button2 {
  display: inline-block;
  width: 120px;
  background-color: transparent;
  border: 1px solid rgb(161, 61, 61);;
  color: rgb(185, 68, 68);
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 10px;
  
}


.button2:hover {
  background-color: rgb(196, 194, 194);
}

.button3 {
  display: inline-block;
  width: 120px;
  background-color: transparent;
  border: 1px solid rgb(161, 61, 61);;
  color: rgb(185, 68, 68);
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;   
  left: 20px;     
  z-index: 1000;

}

.button3:hover {
  background-color: rgb(196, 194, 194);
}

.button1:active,
.button2:active,
.button3:active {
  transform: scale(0.97);
  opacity: 0.9;
}

/* Projektit */

.projektiosio {
  padding: 40px 0;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  background-color: rgb(194, 193, 193);
  border-top: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.kuvaosio p {
  font-weight: 500;
}

.kuvaosio {
  max-width: 1000px;
  margin: 30px auto; 
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 80px;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 12px;
}



.kuvakortti img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.kuvakortti img:hover {
  transform: scale(1.1);
}

.kuvakortti a {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

li {
   font-family: 'Montserrat', sans-serif;
   color: white;

}

.listat li {
  margin-bottom: 15px;
}

.muut .container img {
  max-width: 800px;  
  max-height: 500px; 
  width: auto;        
  height: auto;      
  margin-bottom: 50px;
}

.muut .container,
.cv-sivu .container,
.yhteys .container {
  margin-top: 50px;
  max-width: 1000px
}

.muut .container img.videopalaute {
  width: 400px;
  max-width: 100%;
  height: auto;
}




/* Esittely */



.esittely .esittely-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
  max-width: 1300px;
}

.esittely .content {
  flex: 1;
  min-width: 250px;
  text-align: justify;
  margin-bottom: 50px;
  margin-top: 0px;
  
}

.esittely .esittelykuva {
  width: 400px;
  height: auto;
  border-radius: 8px;
  border: 1px solid white;
  object-fit: cover;
}

.esittely h1 {
  max-width: 1300px;
  text-align: left;

}

.esittely .content a.button1 {
  display: block;
  width: max-content;
  margin: 5px auto 0 auto;
}

.esittely .kuva-ja-tyokalut {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; 
  margin-left: 80px; 
  margin-top: 100px;
}

.esittely .kuva-ja-tyokalut p {
  margin: 0px 0px 10px 10px;
  font-size: 0.9rem;
}

.kuva-ja-tyokalut p strong {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}


.tool-list {
  columns: 2;
  column-gap: 10px;
  width: 400px;
  margin-left: 40px;
}

/* Yhteys */


.yhteystiedot {
  margin-top: 60px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  max-width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.yhteys .container {
  margin: 60px 0 0 300px;
}



/* Footer */

.footer {
  background-color: #e4e4e4;
  color: #eee;
  text-align: center;
  padding: 10px 5px;
  font-size: 0.9rem;
  border-top: 1px solid white;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.kuvajateksti img,
.aloitusteksti h1,
.aloitusteksti h2,
.aloitusteksti p,
.linkkilaatikot {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.aloitusteksti h1 { animation-delay: 0s; }
.aloitusteksti h2 { animation-delay: 0.15s; }
.aloitusteksti p { animation-delay: 0.3s; }
.linkkilaatikot   { animation-delay: 0.45s; }
.kuvajateksti img { animation-delay: 0.6s; }


/* Media */

@media (max-width: 1200px) {


  .esittely .kuva-ja-tyokalut {
    margin-left: 0;
  }

  .nav-links {
    margin-right: 30px;
    gap: 30px;
  }

  img.cv-kuva {
    width: 100%;
  }

   .container {
    padding: 0 50px;
  }

  .kuvajateksti {
    gap: 40px;
  }

  .esittely .esittely-container {
    flex-direction: column;
    align-items: center;
  }

  .esittely .content,
  .esittely .kuva-ja-tyokalut {
    margin-left: 0;
  }

  .yhteys .container {
  margin: 50px 0 0 0px;
}

}

/* Tabletit */

@media (min-width: 769px) and (max-width: 1199px) {

.aloitusteksti {
  width: 350px;
  padding: 0;
}

 
.kuvajateksti img {
  width: 100%;
  max-width: 400px;
  height: auto;
}


  .projektiosio {
    padding: 30px;
  }

  
  .esittely .content {
    order: 1;
    margin: 0 20px 30px 20px;
    text-align: left;
  }

  .esittely .kuva-ja-tyokalut {
    order: 2;
    margin: 0 20px;
    max-width: 100%;
  }

  .esittely .esittelykuva {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
  }

  .tool-list {
    width: 100%;
    columns: 2;
    column-gap: 20px;
    margin-left: 0;
    padding: 0 20px;
  }

  .esittely .content a.button1 {
    margin: 20px auto 0 auto;
  }

   .kuvaosio {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px 20px;
    max-width: 100%;
  }

  .button3 {
  display: block;
  margin: 40px auto 0 auto;
  width: 80%;
  max-width: 250px;
  padding: 12px 0;
  text-align: center;
  margin-bottom: 10px;
}

  
}




@media (max-width: 768px) {
  
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1rem;
  }


  .nav-links {
    flex-direction: column;
    gap: 15px;
    margin: 0;
    align-items: flex-end;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-end;
  }

  .kuvajateksti {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .etusivu .kuvajateksti img {
    width: 100%;
    max-width: 400px;
  }

  .container {
    padding: 0 20px;
  }

  .esittely .content {
    order: 1;
    margin: 0 20px 30px 20px;
    text-align: left;
  }

  .esittely .kuva-ja-tyokalut {
    order: 2;
    margin: 0 20px;
    max-width: 100%;
  }

  .esittely .esittelykuva {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
  }

  .tool-list {
    width: 100%;
    columns: 2;
    column-gap: 20px;
    margin-left: 0;
    padding: 0 20px;
  }

  .esittely .content a.button1 {
    margin: 20px auto 0 auto;
  }


  
  .button3 {
    position: static;
    margin-top: 30px;
  }

  .kuvaosio {
    gap: 40px;
  }

  .projektiosio {
    padding: 30px;
  }

  .yhteys .container {
  margin: 50px 0 0 0px;
}


}

/* Mobiili */

@media (max-width: 480px) {


  h1 {
    font-size: 2.2rem;
    max-width: 100%;
}

  h2 {
    font-size: 1rem;
  }


  p, h4 {
    font-size: 0.9rem;
    line-height: 2;
  }

  .nav-links li a {
    font-size: 0.875rem;
  }

  .kuva-ja-tyokalut p {
    font-size: 0.875rem;
  }

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: rgb(199, 198, 198);
    position: fixed;
    top: 35px;
    right: 0;
    left: 0;

    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;

    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transition: max-height 0.8s ease-out, opacity 0.8s ease-out;

    justify-content: flex-start;
    align-items: center;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 999;
  }



  .nav-links.active {
    max-height: 100vh;
    opacity: 1;
    overflow: visible;
  }

  .hamburger {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    height: 50px;
  }

  .hamburger .bar {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    transition: all 0.4s ease;
  }

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.button1, .button2 {
  padding: 12px;
}


.button3 {
  display: block;
  margin: 40px auto 0 auto;
  width: 80%;
  max-width: 250px;
  padding: 12px 0;
  text-align: center;
  margin-bottom: 10px;
}


 .esittely .content {
    order: 1;
    margin: 0 20px 30px 20px;
    text-align: left;
  }

  .esittely .kuva-ja-tyokalut {
    order: 2;
    margin: 0 20px;
    max-width: 100%;
  }

  .esittely .esittelykuva {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
  }

  .tool-list {
    width: 100%;
    columns: 2;
    column-gap: 20px;
    margin-left: 0;
    padding: 0 20px;
  }

  .esittely .content a.button1 {
    margin: 20px auto 0 auto;
  }

   .kuvaosio {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px 20px;
    max-width: 100%;
  }

  .projektiosio {
    padding: 30px;
  }

  .muut .kuvakortti a p {

  margin-top: -25px;  
  margin-bottom: 50px;   
  font-weight: 600;
       
  }

  .muut li {
    font-size: 0.9rem;
  }

.yhteys .container {
  margin: 50px 0 0 0px;
}

}